{% extends 'milk/base.html' %}

{% block content %}
<meta http-equiv="refresh" content="3">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js">


</script>


{% if progress.num == 100 %}
  処理終了

{% else %}
  {% if progress.num > 0 %}
    <div>{{ progress.nb_train }}</div>
    {% for history in history_list %}
    <div>{{ history.acc }}</div>
    {% endfor %}
  {% else %}
    <div>データロード中...</div>
  {% endif %}

    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ progress.num }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress.num }}%"></div>
    </div>

    {% load static %}
    <img src="{% static "milk/model.png" %}">

    <canvas id="stage"></canvas>


{% endif %}
{% endblock %}
